/* H is for Helpdesk
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-h {
	border: 1px solid #f7931e /*{h-bar-border}*/;
	background: #f7931e /*{h-bar-background-color}*/;
	color: #ffffff /*{h-bar-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link-inherit {
	color: #ffffff /*{h-bar-color}*/;
}
.ui-bar-h .ui-link {
	color: #7cc4e7 /*{h-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link:hover {
	color: #2489CE /*{h-bar-link-hover}*/;
}

.ui-bar-h .ui-link:active {
	color: #2489CE /*{h-bar-link-active}*/;
}

.ui-bar-h .ui-link:visited {
    color: #2489CE /*{h-bar-link-visited}*/;
}

.ui-bar-h,
.ui-bar-h input,
.ui-bar-h select,
.ui-bar-h textarea,
.ui-bar-h button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-h,
.ui-overlay-h {
	border: 1px solid #aaaaaa /*{h-body-border}*/;
	color: #333333 /*{h-body-color}*/;
	background: #f9f9f9 /*{h-body-background-color}*/;
}
.ui-overlay-h {
	background-image: none;
	border-width: 0;
}
.ui-body-h,
.ui-body-h input,
.ui-body-h select,
.ui-body-h textarea,
.ui-body-h button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-h .ui-link-inherit {
	color: #333333 /*{h-body-color}*/;
}

.ui-body-h .ui-link {
	color: #2489CE /*{h-body-link-color}*/;
	font-weight: bold;
}

.ui-body-h .ui-link:hover {
	color: #2489CE /*{h-body-link-hover}*/;
}

.ui-body-h .ui-link:active {
	color: #2489CE /*{h-body-link-active}*/;
}

.ui-body-h .ui-link:visited {
    color: #2489CE /*{h-body-link-visited}*/;
}

.ui-btn-up-h {
	border: 1px solid #cccccc /*{h-bup-border}*/;
	background: #eeeeee /*{h-bup-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bup-color}*/;
}
.ui-btn-up-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bup-color}*/;
}

.ui-btn-hover-h {
	border: 1px solid #bbbbbb /*{h-bhover-border}*/;
	background: #dfdfdf /*{h-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bhover-color}*/;
}
.ui-btn-hover-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bhover-color}*/;
}
.ui-btn-down-h {
	border: 1px solid #bbbbbb /*{h-bdown-border}*/;
	background: #d6d6d6 /*{h-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bdown-color}*/;
}
.ui-btn-down-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bdown-color}*/;
}
.ui-btn-up-h,
.ui-btn-hover-h,
.ui-btn-down-h {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* G wiz -> this for orange buttons
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-g {
	border: 1px solid #f7931e /*{g-bar-border}*/;
	background: #f7931e /*{g-bar-background-color}*/;
	color: #ffffff /*{g-bar-color}*/;
	font-weight: bold;
}

.ui-bar-g .ui-link-inherit {
	color: #ffffff /*{g-bar-color}*/;
}
.ui-bar-g .ui-link {
	color: #7cc4e7 /*{g-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-g .ui-link:hover {
	color: #2489CE /*{g-bar-link-hover}*/;
}

.ui-bar-g .ui-link:active {
	color: #2489CE /*{g-bar-link-active}*/;
}

.ui-bar-g .ui-link:visited {
    color: #2489CE /*{g-bar-link-visited}*/;
}

.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g,
.ui-overlay-g {
	border: 1px solid #aaaaaa /*{g-body-border}*/;
	color: #333333 /*{g-body-color}*/;
	background: #f9f9f9 /*{g-body-background-color}*/;
}
.ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-g .ui-link-inherit {
	color: #333333 /*{g-body-color}*/;
}

.ui-body-g .ui-link {
	color: #2489CE /*{g-body-link-color}*/;
	font-weight: bold;
}

.ui-body-g .ui-link:hover {
	color: #2489CE /*{g-body-link-hover}*/;
}

.ui-body-g .ui-link:active {
	color: #F78500 /*{g-body-link-active}*/;
}

.ui-body-g .ui-link:visited {
    color: #F78500 /*{g-body-link-visited}*/;
}

.ui-btn-up-g {
	border: 1px solid #f7931e /*{g-bup-border}*/;
	background: #F78500 /*{g-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bup-color}*/;
}
.ui-btn-up-g a.ui-link-inherit {
	color: #ffffff /*{g-bup-color}*/;
}

.ui-btn-hover-g {
	border: 1px solid #FFa922 /*{g-bhover-border}*/;
	background: #FFa922 /*{g-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bhover-color}*/;
}
.ui-btn-hover-g a.ui-link-inherit {
	color: #ffffff /*{g-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid #FFa922 /*{g-bdown-border}*/;
	background: #ff9c00 /*{g-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bdown-color}*/;
}
.ui-btn-down-g a.ui-link-inherit {
	color: #000000 /*{g-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/*--- Pop up Container ---*/

.popupcontainer {
		margin-right: 5%;
		margin-left: 5%;		
		width: 85%;
		margin-top: 100px;
		padding: 5px;
		position: fixed;
		text-align: center;
		background-color: #F8F8F8;
		opacity: 0.9;
		-webkit-box-shadow: 0px 0px 400px 0px rgba(0, 0, 0, .8);
		box-shadow: 0px 0px 400px 0px rgba(0, 0, 0, .8);
		z-index: 99999;
		border: 2px solid #e7e7e7;
		}
		.popupcontainer p {
	  	  font-size: 16px;
	  	  font-weight: bold;
	  	  color: #222;
	  	  font-family: Arial, sans-serif;
		  z-index: 199999;
	  	  }
  		.error{			
			background: #EC1818;
			border: 2px solid red;
		}
		.error p{
			color: white !important;
			border: none;
		}
		.hdsuccess{			
			background: #359946;
			border: 2px solid #4bb55d;
		}
		.hdsuccess p{
			color: white !important;
			border: none;
		}
  		
		.message{			
			background: #FFFBCC;
			border: 2px solid #E6B855;
		}
		.message p{
			color: #666452 !important;
			border: none;
		}			