/* H is for Helpdesk
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-h {
	border: 1px solid #f7931e /*{h-bar-border}*/;
	background: #f7931e /*{h-bar-background-color}*/;
	color: #ffffff /*{h-bar-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link-inherit {
	color: #ffffff /*{h-bar-color}*/;
}
.ui-bar-h .ui-link {
	color: #7cc4e7 /*{h-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-h .ui-link:hover {
	color: #2489CE /*{h-bar-link-hover}*/;
}

.ui-bar-h .ui-link:active {
	color: #2489CE /*{h-bar-link-active}*/;
}

.ui-bar-h .ui-link:visited {
    color: #2489CE /*{h-bar-link-visited}*/;
}

.ui-bar-h,
.ui-bar-h input,
.ui-bar-h select,
.ui-bar-h textarea,
.ui-bar-h button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-h,
.ui-overlay-h {
	border: 1px solid #aaaaaa /*{h-body-border}*/;
	color: #333333 /*{h-body-color}*/;
	background: #f9f9f9 /*{h-body-background-color}*/;
}
.ui-overlay-h {
	background-image: none;
	border-width: 0;
}
.ui-body-h,
.ui-body-h input,
.ui-body-h select,
.ui-body-h textarea,
.ui-body-h button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-h .ui-link-inherit {
	color: #333333 /*{h-body-color}*/;
}

.ui-body-h .ui-link {
	color: #2489CE /*{h-body-link-color}*/;
	font-weight: bold;
}

.ui-body-h .ui-link:hover {
	color: #2489CE /*{h-body-link-hover}*/;
}

.ui-body-h .ui-link:active {
	color: #2489CE /*{h-body-link-active}*/;
}

.ui-body-h .ui-link:visited {
    color: #2489CE /*{h-body-link-visited}*/;
}

.ui-btn-up-h {
	border: 1px solid #cccccc /*{h-bup-border}*/;
	background: #eeeeee /*{h-bup-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bup-color}*/;
}
.ui-btn-up-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bup-color}*/;
}

.ui-btn-hover-h {
	border: 1px solid #bbbbbb /*{h-bhover-border}*/;
	background: #dfdfdf /*{h-bhover-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bhover-color}*/;
}
.ui-btn-hover-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bhover-color}*/;
}
.ui-btn-down-h {
	border: 1px solid #bbbbbb /*{h-bdown-border}*/;
	background: #d6d6d6 /*{h-bdown-background-color}*/;
	font-weight: bold;
	color: #2F3E46 /*{h-bdown-color}*/;
}
.ui-btn-down-h a.ui-link-inherit {
	color: #2F3E46 /*{h-bdown-color}*/;
}
.ui-btn-up-h,
.ui-btn-hover-h,
.ui-btn-down-h {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/* G wiz -> this for orange buttons
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-g {
	border: 1px solid #f7931e /*{g-bar-border}*/;
	background: #f7931e /*{g-bar-background-color}*/;
	color: #ffffff /*{g-bar-color}*/;
	font-weight: bold;
}

.ui-bar-g .ui-link-inherit {
	color: #ffffff /*{g-bar-color}*/;
}
.ui-bar-g .ui-link {
	color: #7cc4e7 /*{g-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-g .ui-link:hover {
	color: #2489CE /*{g-bar-link-hover}*/;
}

.ui-bar-g .ui-link:active {
	color: #2489CE /*{g-bar-link-active}*/;
}

.ui-bar-g .ui-link:visited {
    color: #2489CE /*{g-bar-link-visited}*/;
}

.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-g,
.ui-overlay-g {
	border: 1px solid #aaaaaa /*{g-body-border}*/;
	color: #333333 /*{g-body-color}*/;
	background: #f9f9f9 /*{g-body-background-color}*/;
}
.ui-overlay-g {
	background-image: none;
	border-width: 0;
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-g .ui-link-inherit {
	color: #333333 /*{g-body-color}*/;
}

.ui-body-g .ui-link {
	color: #2489CE /*{g-body-link-color}*/;
	font-weight: bold;
}

.ui-body-g .ui-link:hover {
	color: #2489CE /*{g-body-link-hover}*/;
}

.ui-body-g .ui-link:active {
	color: #F78500 /*{g-body-link-active}*/;
}

.ui-body-g .ui-link:visited {
    color: #F78500 /*{g-body-link-visited}*/;
}

.ui-btn-up-g {
	border: 1px solid #f7931e /*{g-bup-border}*/;
	background: #F78500 /*{g-bup-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bup-color}*/;
}
.ui-btn-up-g a.ui-link-inherit {
	color: #ffffff /*{g-bup-color}*/;
}

.ui-btn-hover-g {
	border: 1px solid #FFa922 /*{g-bhover-border}*/;
	background: #FFa922 /*{g-bhover-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bhover-color}*/;
}
.ui-btn-hover-g a.ui-link-inherit {
	color: #ffffff /*{g-bhover-color}*/;
}
.ui-btn-down-g {
	border: 1px solid #FFa922 /*{g-bdown-border}*/;
	background: #ff9c00 /*{g-bdown-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{g-bdown-color}*/;
}
.ui-btn-down-g a.ui-link-inherit {
	color: #000000 /*{g-bdown-color}*/;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	 font-family: Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}




/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/




/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	opacity: 							.3;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}
.ui-disabled .ui-btn-text {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter: alpha(opacity=30);
	zoom: 1;
}

/* Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-icon,
.ui-icon-searchfield:after {
	background: #666666 /*{global-icon-color}*/;
	background: rgba(0,0,0,.4) /*{global-icon-disc}*/;
	background-image: url(images/icons-18-white.png) /*{global-icon-set}*/;
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
}


/* Alt icon color
-----------------------------------------------------------------------------------------------------------*/

.ui-icon-alt {
	background: 						#fff;
	background: 						rgba(255,255,255,.3);
	background-image: url(images/icons-18-black.png);
	background-repeat: no-repeat;
}

/* HD/"retina" sprite
-----------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	
	.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
	.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
	.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
	.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after, 
	.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on {
		background-image: url(images/icons-36-white.png) /*{global-large-icon-set}*/;
		-moz-background-size: 776px 18px;
		-o-background-size: 776px 18px;
		-webkit-background-size: 776px 18px;
		background-size: 776px 18px;
	}
	.ui-icon-alt {
		background-image: url(images/icons-36-black.png);
	}
}

/* plus minus */
.ui-icon-plus {
	background-position: 	-0 50%;
}
.ui-icon-minus {
	background-position: 	-36px 50%;
}

/* delete/close */
.ui-icon-delete {
	background-position: 	-72px 50%;
}

/* arrows */
.ui-icon-arrow-r {
	background-position: 	-108px 50%;
}
.ui-icon-arrow-l {
	background-position: 	-144px 50%;
}
.ui-icon-arrow-u {
	background-position: 	-180px 50%;
}
.ui-icon-arrow-d {
	background-position: 	-216px 50%;
}

/* misc */
.ui-icon-check {
	background-position: 	-252px 50%;
}
.ui-icon-gear {
	background-position: 	-288px 50%;
}
.ui-icon-refresh {
	background-position: 	-324px 50%;
}
.ui-icon-forward {
	background-position: 	-360px 50%;
}
.ui-icon-back {
	background-position: 	-396px 50%;
}
.ui-icon-grid {
	background-position: 	-432px 50%;
}
.ui-icon-star {
	background-position: 	-468px 50%;
}
.ui-icon-alert {
	background-position: 	-504px 50%;
}
.ui-icon-info {
	background-position: 	-540px 50%;
}
.ui-icon-home {
	background-position: 	-576px 50%;
}
.ui-icon-search,
.ui-icon-searchfield:after {
	background-position: 	-612px 50%;
}
.ui-icon-checkbox-off {
	background-position: 	-684px 50%;
}
.ui-icon-checkbox-on {
	background-position: 	-648px 50%;
}
.ui-icon-radio-off {
	background-position: 	-756px 50%;
}
.ui-icon-radio-on {
	background-position: 	-720px 50%;
}


/* checks,radios */
.ui-checkbox .ui-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ui-icon-checkbox-off,
.ui-icon-radio-off {
	background-color: transparent;	
}
.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
	background-color: #f7931e /*{global-active-background-color}*/; /* NOTE: this hex should match the active state color. It's repeated here for cascade */
}

/* loading icon */
.ui-icon-loading {
	background: url(images/ajax-loader.gif);
	background-size: 46px 46px;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/


/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}


.ui-icon-shadow {

}

/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus {
	outline: 0;
}

.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: 0px 0px 12px #f7931e /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #f7931e /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #f7931e /*{global-active-background-color}*/;
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus {
	outline-width: 1px;
	outline-style: dotted;
}
			