/* CSS Document */

.container {
	width: 100%;
	padding:16px;
	margin: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	}

.fullwidth {	
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	}
.ui-hidden-accessible {display: none;}

input:not([type]), 
input[type="color"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"] {
	padding: 8px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 	
	}
	
/*
========================================================================================================================
Button Stuff
========================================================================================================================
*/

.gbutton {
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.5em 1em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font: 11px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec');
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	-o-background-clip: padding-box; 
	/*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	/* IE hacks */
	zoom: 1;
	*display: inline;
}
.gbutton:hover, .gbutton:focus, .gbutton:active , .gbutton.active{
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #3072b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	background-image: -moz-linear-gradient(#599bdc, #3072b3);
	background-image: -o-linear-gradient(#599bdc, #3072b3);
	background-image: linear-gradient(#599bdc, #3072b3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3');
}
.gbutton:active {
	border-color: #2a65a0;
	border-bottom-color: #3884CF;
	color: #fff;
	background-color: #3072b3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
	background-image: -moz-linear-gradient(#3072b3, #599bdc);
	background-image: -o-linear-gradient(#3072b3, #599bdc);
	background-image: linear-gradient(#3072b3, #599bdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3072b3', endColorstr='#599bdc');
}
/* overrides extra padding on button elements in Firefox */
.gbutton::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/* ............................................................................................................. Rotate Negative 90 degrees */
.gbutton.rotateNeg90 { 
     -moz-transform: rotate(-90deg);  
       -o-transform: rotate(-90deg);  
  -webkit-transform: rotate(-90deg);  
      -ms-transform: rotate(-90deg);  
          transform: rotate(-90deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix( 
                     M11=6.123233995736766e-17, M12=1, M21=-1, M22=6.123233995736766e-17, sizingMethod='auto expand');
               zoom: 1;
}
/* ............................................................................................................. Rotate 90 degrees */
.gbutton.rotate90 { 
     -moz-transform: rotate(90deg);  
       -o-transform: rotate(90deg);  
  -webkit-transform: rotate(90deg);  
      -ms-transform: rotate(90deg);  
          transform: rotate(90deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix( 
                     M11=6.123233995736766e-17, M12=-1, M21=1, M22=6.123233995736766e-17, sizingMethod='auto expand');
               zoom: 1;
}
/* ............................................................................................................. Positive */
.gbutton.positive, .gbutton-group.minor-group .gbutton.positive { color:#569D2B } 

.gbutton.positive.active, 
.gbutton-group.minor-group .gbutton.positive.active{
	border-color: #76CA43;
	border-bottom-color: #569D2B;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #76CA43;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#76CA43), to(#569D2B));
	background-image: -moz-linear-gradient(#76CA43, #569D2B);
	background-image: -o-linear-gradient(#76CA43, #569D2B);
	background-image: linear-gradient(#76CA43, #569D2B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76CA43', endColorstr='#569D2B');
}
.gbutton.positive:hover, .gbutton.positive:focus, .gbutton.positive:active,
.gbutton-group.minor-group .gbutton.positive:hover, .gbutton-group.minor-group .gbutton.positive:focus, .gbutton-group.minor-group .gbutton.positive:active {
	border-color: #91D16A;
	border-bottom-color: #3E721F;
	color: #fff;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background-color: #69C034;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#69C034), to(#4A8825));
	background-image: -moz-linear-gradient(#69C034, #4A8825);
	background-image: -o-linear-gradient(#69C034, #4A8825);
	background-image: linear-gradient(#69C034, #4A8825);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69C034', endColorstr='#4A8825');
}
.gbutton.positive:active,.gbutton-group.minor-group .gbutton.positive:active,.gbutton.positive.active:active {
	border-color: #346019;
	border-bottom-color: #1D350F;
	color: #fff;
	background-color: #468222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468222), to(#5FAE2F));
	background-image: -moz-linear-gradient(#468222, #5FAE2F);
	background-image: -o-linear-gradient(#468222, #5FAE2F);
	background-image: linear-gradient(#468222, #5FAE2F);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468222', endColorstr='#5FAE2F');
}
/* ............................................................................................................. Negative */
.gbutton.negative, .gbutton-group.minor-group .gbutton.positive  { color: #900 }
.gbutton.negative.active,
.gbutton-group.minor-group .gbutton.negative.active {
	border-color: #b53f3a;
	border-bottom-color: #a0302a;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #dc5f59;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
	background-image: -moz-linear-gradient(#dc5f59, #b33630);
	background-image: -o-linear-gradient(#dc5f59, #b33630);
	background-image: linear-gradient(#dc5f59, #b33630);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc5f59', endColorstr='#b33630');
}
.gbutton.negative:hover, .gbutton.negative:focus, .gbutton.negative:active,
.gbutton-group.minor-group .gbutton.negative:hover, .gbutton-group.minor-group .gbutton.negative:focus, .gbutton-group.minor-group .gbutton.negative:active  {
	border-color: #AB2222;
	border-bottom-color: #A02121;
	color: #fff;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background-color: #D74040;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D74040), to(#AD2323));
	background-image: -moz-linear-gradient(#D74040, #AD2323);
	background-image: -o-linear-gradient(#D74040, #AD2323);
	background-image: linear-gradient(#D74040, #AD2323);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D74040', endColorstr='#AD2323');
}
.gbutton.negative:active,
.gbutton-group.minor-group .gbutton.negative:active{
	border-color: #a0302a;
	border-bottom-color: #bf4843;
	background-color: #b33630;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
	background-image: -moz-linear-gradient(#b33630, #dc5f59);
	background-image: -o-linear-gradient(#b33630, #dc5f59);
	background-image: linear-gradient(#b33630, #dc5f59);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b33630', endColorstr='#dc5f59');
}
/* ............................................................................................................. Black */
.gbutton.black.active,
.gbutton-group.minor-group .gbutton.black.active {
	border-color: #858585;
	border-bottom-color: #3E3E3E;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #8B8B8B;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8B8B8B), to(#424242));
	background-image: -moz-linear-gradient(#8B8B8B, #424242);
	background-image: -o-linear-gradient(#8B8B8B, #424242);
	background-image: linear-gradient(#8B8B8B, #424242);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8B8B8B', endColorstr='#424242');
}
.gbutton.black:hover, .gbutton.black:focus, .gbutton.black:active,
.gbutton-group.minor-group .gbutton.black:hover, .gbutton-group.minor-group .gbutton.black:focus, .gbutton-group.minor-group .gbutton.black:active  {
	border-color: #858585;
	border-bottom-color: #2B2B2B;
	color: #fff;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background-color: #8D8D8D;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8D8D8D), to(#0B0B0B));
	background-image: -moz-linear-gradient(#8D8D8D, #0B0B0B);
	background-image: -o-linear-gradient(#8D8D8D, #0B0B0B);
	background-image: linear-gradient(#8D8D8D, #0B0B0B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D8D8D', endColorstr='#0B0B0B');
}
.gbutton.black:active,
.gbutton-group.minor-group .gbutton.black:active {
	border-color: #858585;
	border-bottom-color: #2B2B2B;
	color: #fff;
	background-color: #8B8B8B;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8B8B8B), to(#858585));
	background-image: -moz-linear-gradient(#8B8B8B, #858585);
	background-image: -o-linear-gradient(#8B8B8B, #858585);
	background-image: linear-gradient(#8B8B8B, #858585);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8B8B8B', endColorstr='#858585');
}
/* ............................................................................................................. Orange */
.gbutton.orange,.gbutton-group.minor-group .gbutton.orange { color:#D07E03 }

.gbutton.orange.active,
.gbutton-group.minor-group .gbutton.orange.active {
	border-color: #EE8F00;
	border-bottom-color: #D07E03;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #FEB039;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEB039), to(#EF9103));
	background-image: -moz-linear-gradient(#FEB039, #EF9103);
	background-image: -o-linear-gradient(#FEB039, #EF9103);
	background-image: linear-gradient(#FEB039, #EF9103);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEB039', endColorstr='#EF9103');	
}
.gbutton.orange:hover, .gbutton.orange:focus, .gbutton.orange:active,
.gbutton-group.minor-group .gbutton.orange:hover, .gbutton-group.minor-group .gbutton.orange:focus, .gbutton-group.minor-group .gbutton.orange:active  {
	border-color: #EE8F00;
	border-bottom-color: #D07E03;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	color: #fff;
	background-color: #FDAD33;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FDAD33), to(#DC8605));
	background-image: -moz-linear-gradient(#FDAD33, #DC8605);
	background-image: -o-linear-gradient(#FDAD33, #DC8605);
	background-image: linear-gradient(#FDAD33, #DC8605);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDAD33', endColorstr='#DC8605');
}
.gbutton.orange:active,.gbutton-group.minor-group .gbutton.orange:active{
	border-color: #EE8F00;
	border-bottom-color: #D07E03;
	color: #fff;
	background-color: #EF9002;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EF9002), to(#FFA621));
	background-image: -moz-linear-gradient(#EF9002, #FFA621);
	background-image: -o-linear-gradient(#EF9002, #FFA621);
	background-image: linear-gradient(#EF9002, #FFA621);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EF9002', endColorstr='#EF9002');
}
/* ............................................................................................................. Pill */
.gbutton.pill {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}
/* ............................................................................................................. Titanic */
.gbutton.titanic {
	font-size: 23px;
}
/* ............................................................................................................. Giant */
.gbutton.giant {
	font-size: 21px;
}
/* ............................................................................................................. Huge */
.gbutton.huge {
	font-size: 19px;
}
/* ............................................................................................................. Big */
.gbutton.big {
	font-size: 17px;
}
/* ............................................................................................................. Large */
.gbutton.large {
	font-size: 15px;
}
/* ............................................................................................................. Medium */
.gbutton.medium {
	font-size: 13px;
}
/* ............................................................................................................. Go Bold */
.gbutton.bold {
	font-weight:bold;
}
/* ............................................................................................................. Disabled */
.gbutton.disable {
	color: #D4D4D4;
	cursor:not-allowed;
}
.gbutton.disable:hover, .gbutton.disabled:focus, .gbutton.disabled:active {
	border-color: #d4d4d4;
	border-bottom-color: #d4d4d4;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	color: #D4D4D4;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec');
}
/* ------------------------------------------------------------------------------------------------------------- BUTTON GROUPS */
/* ............................................................................................................. Standard */
.gbutton-group {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
/* IE hacks */zoom: 1; *;
	*display: inline; 
}
.gbutton + .gbutton, .gbutton + .gbutton-group, .gbutton-group + .gbutton, .gbutton-group + .gbutton-group {
	margin-left: 15px;
}
.gbutton-group li {
	float: left;
	padding: 0;
	margin: 0;
}
.gbutton-group .gbutton {
	float: left;
	margin-left: -1px;
}
.gbutton-group > .gbutton:not(:first-child):not(:last-child),
.gbutton-group li:not(:first-child):not(:last-child) .gbutton {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.gbutton-group > .gbutton:first-child, .gbutton-group li:first-child .gbutton {
	margin-left: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.gbutton-group > .gbutton:last-child, .gbutton-group li:last-child > .gbutton {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* ............................................................................................................. Minor */
.gbutton-group.minor-group .gbutton {
	border: 1px solid #d4d4d4;
	text-shadow: none;
	background-image: none;
	background-color: #fff;
}
.gbutton-group.minor-group .gbutton:hover, .gbutton-group.minor-group .gbutton:focus, .gbutton-group.minor-group .gbutton:active {
	background-color: #599bdc;
}
.gbutton-group.minor-group .gbutton:active, .gbutton-group.minor-group .gbutton.active {
	background-color: #3072b3;
}
.gbutton-group.minor-group .gbutton.icon:before {
	opacity: 0.8;
}
/* ------------------------------------------------------------------------------------------------------------- BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */
.gbutton-container .gbutton, .gbutton-container .gbutton-group {
	vertical-align: top;