
<div class="sub_class2">
	<label>>> >> Sub Sub Class</label>
	<select name="sub_class2" id="sub_class2">
		<option value="">---</option>
		{{#each this}}
			<option data-classId="{{id}}" value="{{id}}">{{name}}</option>
		{{/each}}			
	</select>
</div>