<a name="top"/>
<div class="closeTicket"> 
	<form class="close_ticket" action="#">
		<div class="showalert"></div>	
		
		<label>
	      <input type="checkbox" id="closeNotice" name="closeNotice"> Notify user via email
	    </label>		
		
		<label>Add Note</label>
		<textarea name="details" id="details" wrap="soft" cols="50" rows="10" ></textarea>
		
		<button class="btn btn-large btn-block btn-warning" type="submit">Close This Ticket</button>
	  
	</form>  
</div>