<div class="content">
	<div class="login-container">    
		<form class="form-signin">
			<div class="logo"><img src="img/Sherpa_Desk-logo.png"></div>
			<div class="showalert"></div>
			<h2>Select Your Instance</h2>			
			<select name="inst" id="inst">
				<option value="" selected="selected">Choose an Instance</option>
			{{#each this}}
				<option data-orgkey="{{key}}" value="{{@index}}">{{name}}</option>
			{{/each}}
			</select>
		</form>		
	</div>
</div>