<div class="content">
	<div class="login-container">    
		<form class="form-signin">
			<div class="logo"><img src="img/Sherpa_Desk-logo.png"></div>
			<div class="showalert"></div>			
			<input type="email" id="email" class="input-block-level" placeholder="Email Address">
			<input type="password" id="password" class="input-block-level" placeholder="Password">			
			<button class="btn btn-large btn-block btn-success" type="submit">Sign in</button>
		</form>		
	</div>
	<!-- Sign up Form
	<div class="login_signup">
    	<img class="signup_img" src="img/jangbu-signup.png">
        
        <div class="signup_content">
        	<p>New to SherpaDesk?</p>
            <a class="signup_button">Get a New Account</a>
        </div>
    </div>
	-->
</div>