<a name="top"/>
<div class="content time_add"> 
	<form class="add_time">
		<div class="showalert"></div>
		
		<div class="tkt_add_time">
			<div class="tkt_add_time_input">
				<button class="minus_time">-</button>
				<button class="plus_time">+</button>
				<p>
					<input type="number" class="add_time" name="add_time" value="0" step=".25" />
				</p>                                    
			</div>								
		</div>		
		
		<label>Select Task Type</label>
		<select name="task_type" id="task_type">
			<option value="">---</option>
		</select>		
		
		<label>Notes</label>
		<textarea name="details" id="details" wrap="soft" cols="50" rows="10" ></textarea>
		
		<button class="btn btn-large btn-block btn-success" type="submit">Add Time</button>
	  
	</form>  
</div>