<div class="side-menu" style="display:none;">
	<ul>
		<li class="searchform">
			<input type="text" placeholder="Jump to Ticket #" class="ticket-jump-menu">
		</li>
		<li><p id="queues"><i class="icon-folder-open icon-white"></i> Queues</p></li>
		<li><p id="orgInst"><i class="icon-list-alt icon-white"></i> Change Org/Inst</p></li>
		<li><p id="logout"><i class="icon-off icon-white"></i> Log out</p></li>
		<li><a href="http://app.bigwebapps.com" target=_system><p id="fullSite"><i class="icon-share-alt icon-white"></i> Switch to Full App</p></a></li>
	</ul>    
</div>
<header>
	<div class="navbar">
		<div class="navbar-inner">
			<a href="#" id="left-button" class="menu_button header_left menu_icon ticket_list_menu"></a>
			<a href="#" id="right-button" class="menu_button header_right add_icon add_ticket_button"></a>
			<p class="header_label">Tickets</p>                
		</div> 
		<div class="header_search_tickets">
			<input type="text" class="search" placeholder="Search Tickets">
		</div> 
		<div class="header_user_type">
			<ul class="filter">
				<li data-asrole="user">As User</li>
                <li data-asrole="tech">As Tech</li>
                <li data-asrole="alt_tech">As Alt Tech</li>
				<li class="open_tickets" data-asrole="all">All Open</li>
			</ul>
		</div>          
	</div>
</header>