<a name="top"/>
<div class="content response_add"> 
	<form class="create_response">
		<div class="showalert"></div>	
		
		<textarea name="details" id="details" wrap="soft" cols="50" rows="10" ></textarea>
		
		<button class="btn btn-large btn-block btn-success" type="submit">Add Response</button>
	  
	</form>  
</div>