<a name="top"/>
<div class="transfer"> 
	<form class="transfer_ticket" action="#">
		<div class="showalert"></div>	
		
		<label>Technician</label>
		<select name="tech" id="tech">
			<option value="">---</option>			
		</select>		
		
		<label>Add Note</label>
		<textarea name="details" id="details" wrap="soft" cols="50" rows="10" ></textarea>
		
		<button class="btn btn-large btn-block btn-success" type="submit">Transfer Ticket</button>
	  
	</form>  
</div>